body {
    background-image: url(photo-1503455876088-69e73d67c258.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: blueviolet;
}

p {color: blueviolet;}

h1:hover {
    color: crimson;
    font-size: x-large;
}