body {
    background-image: url(Sunset.jpg);
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

div {
    text-align: center;
    margin: 0 auto;
}

#doggy {
border: rgb(114, 104, 106) 15px double;
}

.end {
    padding: 0;
    margin: 0;
}

footer {
    text-align: center;
    background-color: darkgray;
}

#gif {
    opacity: .90;
}